/vendor
/node_modules
/dist
tsconfig.tsbuildinfo
/.phpunit.cache
/.phpstan.cache
/workbench/vendor
/workbench/bootstrap/cache/*.php
/workbench/bootstrap/cache/*.yaml
/workbench/bootstrap/cache/*.yaml.backup
/workbench/database/database.sqlite
/workbench/storage/*.key
/workbench/storage/framework/cache/data
/workbench/storage/framework/sessions
/workbench/storage/framework/views
/workbench/storage/logs
/workbench/process-builder
/workbench/storage/app/process-builder
/workbench/storage/process-builder
/workbench/bootstrap/cache/*.tmp
composer.lock
/.env
!/workbench/.env
.phpunit.result.cache

# OS / editor noise
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
